<h1>View a Course</h1>

Name: <%= @course.name %><br/>
Professor: <%= @course.professor %><br/>
Credits: <%= @course.credits %><br/>
ID: <%= @course.id %><br/>

<a href="/course/<%= @course.id %>/edit">Edit this course</a>
